.dogCard {
    box-shadow: 0px 0px 10px 0px gray;
    width: 17vw;
    img{
        width: 17vw;
        height: 17vw;
    }
    h1{
        font-size: 1.5rem;
    }
    .dogDetails {
        padding: 1vh 0.5vw;
    }
}